<div class="container">
  <div class="row">
    <aside class="col-md-12">
      <h2>About</h2>
      <p>Welcome to the Student Portal! This web application is designed to help students manage their courses and access important information related to their studies.</p>
    </aside>
    <section class="main col-md-12">
      <article>
      
        <h2>Getting Started </h2>
        <ul>
          <li>To begin: open your Assignment 6 folder in Visual Studio Code</li>
          <li>In this assignment, we will no longer be reading the files from the "data" folder, so remove this folder from the solution</li>
          <li>Inside your collegeData.js module, delete any code that is not a module.exports function (i.e., global variables, & "require" statements)</li>
          <li>Inside every single module.exports function, remove all of the code and replace it with a return call to an "empty" promise that invokes reject(): </li>
        </ul>
         <h1>About Me</h1>
    <p>Hello, my name is Kiranpreet Kaur. I am a student at Seneca college in Computer Programming, and I love learning and exploring new things. <br>
      I am passionate about technology and enjoy coding and building web applications. <br>
       This college management system project has been a great learning experience for me, and I am excited to continue improving my skills as a developer.</p>
    <p>Id: 166165217</p>
    <p>email: kkaur532@myseneca.ca</p>
      </article>
    </section>
  </div>
</div>
